target-version = "py310"
line-length = 100

select = [
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "B",  # flake8-bugbear
    "I",  # isort
    "UP", # pyupgrade
]

ignore = [
    "E501",  # Line too long
    "F401",  # Module imported but unused
    "B008",  # Do not perform function calls in argument defaults
    "B009",  # Do not call getattr with a constant attribute
]
